
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style="margin-top:200px;margin-bottom:200px;width:100%;"><h1 style="color:green;text-align:center;">Đặt hàng thành công</h1></div>

