@model IEnumerable<SachOnline.Models.DanhMucSanPham>
<div class="dropdown-menu">
    <div class="dropdown-inner">
        <ul class="list-unstyled">
            @foreach (var item in Model)
            {
                <li><a href="@Url.Action("Index","DanhMucSanPhams", new { id=item.MaDanhMuc})">@item.TenDanhMuc</a></li>
            }

        </ul>
    </div>
</div>
