@model IEnumerable<SachOnline.Models.BLOG>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@foreach (var item in Model)
{
<div>
    <h1 align="Center" style="color:red">@item.TenBlog</h1>
    <br />
    <div margin-left:50px;>
        <h3>@item.NoiDungBlog</h3>
    </div>
</div>
}

